* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/* header全体の書式 */
.header {
  background-color: #1f2937;
  padding-top: 15px;
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 80px;
}

/* logo,linkの親 */
.header-top { 
  display: flex;
  gap:15px;
}

/* logoの書式 */
.header-logo {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
  margin-right: auto;
}

/* linkの書式 */
.header-link {
  text-decoration: none;
  /* delete underline */
  font-size: 18px;
  color: #e5e7eb;
}

/* header-main-textsとimageの親 */
.header-main {
  display: flex;
  padding-top:80px;
  justify-content: space-between;
}

/* header-main-textsの書式 */
.header-main-texts {
  width:400px;
  /* 横幅を設定することで余白を生み、justify-contentがうまく動作するようにする */
  /* header-main-textsはFlex Itemになっていて、
  width:auto / flex-basis:autoなどによって中身を基準にサイズが決まっているので余白が埋まってしまうことがある */
}

/* header-main-textsの見出しの書式 */
.header-main-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
}

/* header-main-textsの文章の書式 */
.header-main-subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0;
  margin-bottom: 15px;
}

/* buttonの書式 */
.header-main-button {
  background-color: #3882f6;
  color: #f9faf8;
  border:0;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}

/* imageの書式 */
.header-main-image {
  width: 550px;
  height: 300px;
}

