* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/* ------------------------------------------- */
/* header section */

/* header全体の書式 */
.header {
  background-color: #1f2937;
  padding-top: 15px;
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 80px;
}

/* logo,linkの親 */
.header-top {
  display: flex;
  gap: 15px;
}

/* logoの書式 */
.header-logo {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
  margin-right: auto;
}

/* linkの書式 */
.header-link {
  text-decoration: none;
  /* delete underline */
  font-size: 18px;
  color: #e5e7eb;
}

/* header-main-textsとimageの親 */
.header-main {
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
}

/* header-main-textsの書式 */
.header-main-texts {
  width: 400px;
  /* 横幅を設定することで余白を生み、justify-contentがうまく動作するようにする */
  /* header-main-textsはFlex Itemになっていて、
  width:auto / flex-basis:autoなどによって中身を基準にサイズが決まっているので余白が埋まってしまうことがある */
}

/* header-main-textsの見出しの書式 */
.header-main-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
}

/* header-main-textsの文章の書式 */
.header-main-subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0;
  margin-bottom: 15px;
}

/* buttonの書式 */
.header-main-button {
  background-color: #3882f6;
  color: #f9faf8;
  border: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}

/* imageの書式 */
.header-main-image {
  width: 550px;
  height: 300px;
}

/* ------------------------------------------- */
/* information section */

/* information全体の書式 */
.information {
  background-color: white;
  padding-right: 284px;
  padding-left: 284px;
  padding-bottom: 100px;
}

/* information-titleの書式 */
.information-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin: 28px;
  padding-bottom: 18px;
}

/* information-imageの書式 */
.information-image {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

/* information-textの書式 */
.information-text {
  width: 150px;
  color: #3f4c5e;
  text-align: center;
}

/* information-main-set-1,2,3,4の親 */
.information-main {
  display: flex;
  justify-content: space-between;
  /* 狭い画面になったときに入らない Flex Itemを次の行へ送る */
  flex-wrap: wrap;
}

/* ------------------------------------------- */
/* quote section */

/* quote section全体の書式 */
.quote {
  background-color: #e5e7eb;
  padding-top: 100px;
  padding-right: 274px;
  padding-left: 300px;
  padding-bottom: 80px;
}

/* quote-textの書式 */
.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  margin: 12px;
  line-height: 46px;
  /* 行の高さを46pxにして、行間を10pxに狭める */
}

/* quote-authorの書式 */
.quote-author {
  font-size: 22px;
  color: #1f2937;
  /* <strong>はfont-weight:boldと同義なので不要 */
  /* font-weight: 400; */
  /* justify-content: flex-end;を使わずとも文字は右に寄せられる */
  text-align: right;
  padding-right:30px;
}

/* ------------------------------------------- */
/* call to action section */

/* call to action section全体の書式 */
.call {
  padding-top:90px;
  padding-right:160px;
  padding-bottom:90px;
  padding-left:160px;
  margin: 0;
}

/* call-textsとcall-buttonの親 */
.call-main {
  display: flex;
  background-color: #3882F6;
  border-radius: 8px;
  padding-top:40px;
  padding-right:100px;
  padding-bottom: 40px;
  padding-left:100px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* call-text-titleの書式 */
.call-text-title {
  color:white;
  margin:0;
  font-size:22px;
}

/* call-text-mainの書式 */
.call-text-main {
  color:white;
  margin:0;
}

/* call-buttonの書式 */
.call-button {
  background-color: #3882F6;
  border:2px solid white;
  color:white;
  border-radius:8px;
  width:126px;
  height:36px;
  font-size:16px;
  font-weight: 600;
  padding:0;
}